{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <<section id="inner_pages">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    {% for p in produit %}
                    <article class="col-sm-6 article_wrap">

                        <div class="post-thumbnail">
                            {% for image in p.images %}<img src="{{ asset('uploads/'~image.name) }}" style="width: 150px ;height: 150px">{% endfor %}                        </div>
                        <div class="entry-desc" >
                            <h3 align="center"><a href="blog-single.html" >{{ p.nomProd |title}}</a></h3>

                            <div class="entry-content">
                                <p>{{ p.prixProd| upper }} TND</p>
                            </div>
                            <div align="center">
                                <a href="#" > <i class="fa fa-cart-plus"></i>Ajouter </a></div>
                            <div>

                                <em class="text-muted text-primary"> #{{ p.categorie.nomCat }}</em>

                            </div>
                            <div align="right"> <a href="{{ path('produitShow',{'id':p.id}) }}" class="read_btn">Read More <i class="fa fa-angle-right"></i></a></div>

                        </div>
                    </article>
                    {% endfor %}


                </div>
            </div>

            <aside class="col-md-4">
                <div>
                    {% include 'produit/filter.html.twig' with {form :form} only %}
                </div>
            </aside>
        </div>
    </div>
</section>!-- /Listings -->
{% endblock %}
