{% extends 'baseback.html.twig' %}

{% block body %}
    <h3>Nos Produits</h3>
    {% for message in app.flashes('info') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <div class="d-flex align-items-center">
        <input class="form-control" type="search" id="search" placeholder="Search by Reference">
        <a  href="{{ path('searchAjax') }}"><i class="fa fa-sort"></i></a>
    </div>
    <div class="dropdown pull-right">
        <button class="btn1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Trier Par
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{{ path('tri') }}" class="col-lg-2">
                <input type="submit" class="dropdown-item" value=" prix" >
            </a>
            <a  href="{{ path('triQ') }}" class="col-lg-2">
                <input type="submit" class="dropdown-item" value=" Quantite" >
             {#   <a class="dropdown-item" href="#">Par Prix</a>#}
            </a>


        </div>
    </div>
  {#  <div class="form-group row pull-right"   >
        <form method="post" action="{{ path('tri') }}" class="col-lg-2">
            <input type="submit" value="tri par prix" class="btn btn-dark">
        </form>
        <form method="post" action="{{ path('triQ') }}" class="col-lg-2">
            <input type="submit" value="tri par Quantite" class="btn btn-secondary">
        </form>
    </div>
#}
   {# <form class="input-group rounded" action="{{ path('search') }}">
        <input type="text" class="form-control1 rounded"  name="search"
               aria-describedby="search-addon" />

      <button class="button"><input type="submit" value="Search"></button>
    </form>#}
    <br>

<table border="1" id="t">
    <thead>
   <tr>
       <th>Reference </th>
        <th>Nom </th>
        <th>Prix</th>
        <th>Quantité </th>
       <th>Images</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="all">
    {% include 'produit/produitajaxback.html.twig' %}
    </tbody>
    <tbody align="left" border="2" id="search">
    </tbody>
</table>
    <div class="row pull-right colo">

        <div class="bs-popover-right">
            <button class=" btn1 " ><a href="{{ path('produit') }}">Ajouter</a></button>
            <button class=" btn1 " ><a href="{{ path('ListP') }}">Imprimer</a></button>
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(produit) }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){

                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('searchAjax') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
    </script>


{% endblock %}
