{% extends 'base.html.twig' %}

{% block title %}Gmusee{% endblock %}

{% block body %}
    <h1>Musée</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gmusee.id }}</td>
            </tr>
            <tr>
                <th>Id_musee</th>
                <td>{{ gmusee.idMusee }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ gmusee.nom }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ gmusee.place }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gmusee.description }}</td>
            </tr>
            <tr>
                <th>Images</th>

                <td>
                    {% for image in gmusee.images %}

                        <img src="{{ asset ('/uploads/' ~ image.name ) }}"
                             alt="image" width="150">

                    {% endfor %}
                <td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gmusee_index') }}">back to list</a>


    {{ include('gmusee/_delete_form.html.twig') }}
{% endblock %}
