{% extends 'base.html.twig' %}

{% block title %}Siteh index{% endblock %}

{% block body %}
    <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box">
    <div class="post-thumbnail">
    </div>
    <input type="text" id="search" class="form-control" placeholder="Search">
    <div>

    <h4>Site Historique</h4>
    <ul>

    {% for siteh in sitehs %}



        <li>
            <div class="list-box-listing">
                <div class="list-box-listing-img"><a href="#"><img src="" alt=""></a></div>
                <div class="list-box-listing-content">
                    <div class="inner">
                        <h3><a href="{{ path('siteh_show', {'id': siteh.id}) }}">{{ siteh.nom }}</a></h3>
                        <i class="fa fa-map-o"></i>  <span>{{ siteh.place }}</span>
                        <div class="star-rating">
                            <div class="rating-counter">{{ siteh.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-to-right">
                <a href="{{ path('siteh_edit', {'id': siteh.id}) }}" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
                <a href="{{ path('siteh_delete', {'id': siteh.id}) }}" class="button red"><i class="fa fa-trash-o"></i> Delete</a>
                <td> <a href="{{ path('siteh_show', {'id': siteh.id}) }}"class="button gray"><i class="fa fa-eye"></i>show</a>
            </div>
        </li>



        </tbody>
        <tbody id="search">
        </tbody>

        <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script>
            $( document ).ready(function() {
                $("#search").keyup(function(e){
                    /* La variable value va prendre la valeur insérer dans le champ de texte
                    afin d’effectuer la recherche */
                    var value = $(this).val();

                    $.ajax({

                        url : "{{ path('siteh_show', {'id': siteh.id}) }}",

                        type : 'GET',

                        data: {
                            'searchValue' : value
                        },

                        success : function(retour){
                            if(retour){
                                $('#t tbody#search').empty();
                                $.each(JSON.parse(retour), function(i, obj) {
                                    $('#t tbody#all').hide();
                                    $('#t tbody#search').append('<tr><td> '+obj.id+ ' </td> <td>' +obj.place+' </td><td> '+obj.nom+' </td><td> </td></tr>');
                                });
                            }
                            else
                            {
                                $('#t tbody#all').show();
                                $('#t tbody#search').empty();
                                $('#t tbody#search').fadeIn('fast');
                            }
                        },
                    });
                    return false;
                });
            });
        </script>
    {% endfor %}

{% endblock %}